

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.header{
    width: 100%;
    background: transparent;
    background-position: center;
    background-size: contain;
}
strong{
    color: black;
    
}

@media only screen and (max-width: 1035px) {
    .phone img {
        display: none;
    }
    .classroom img {
        display: none;
    }
    .tab-align img {
        display: none;
    }
    .sign_up img {
        display: none;
    }
    .sign_img img {
        display: none;
    }
    .review {
        display: none;
    }
    .part{
        display: none;
        width: 0;
        height: 0;
    }
    .big{
        width: 125px;
        height: 125px;
    }
    .partners2{
        margin: 7% 15% 0 15%;
    }
    .contact-container{
        margin: 0 10%;
    }
}

a{
    text-decoration: none;
}

h1{
    font-size: 300%;
    color: black;
    font-size-adjust: auto;
}

h4{
    font-size: 20px;
    color: #696362;
}
img{
    border-radius: 30px;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
}
.shadow{
    box-shadow: 4px 4px 20px rgba(185, 185, 185);
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    font-size: 13px;
    background: #0145e4;
    position: relative;
    cursor: pointer;
    max-width: 100%;
}

.button_2{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    padding: 8px 25px;
    text-align: center;
    color: #0145e4;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    border-width: 1.5px;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgba(185, 185, 185);
}

.button_3{
    background-color: #0145e4;
    border-style: solid;
    border-color: #0145e4;
    border-radius: 4px;
    padding: 8px 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    border-width: 1.5px;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgba(185, 185, 185);
}

.button_2:hover{
    border: 1.5px solid #0145e4;
    background: #0145e4;
    color: white;
    transition: 0.75s;
}
.button_3:hover{
    border: 1.5px solid #0145e4;
    background: white;
    color: #0145e4;
    transition: 0.75s;
}

nav{
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.nav-links{
    flex: 1;
    text-align:right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 90%;
}

.text_learn{
    margin-top: 15%;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
}

.text-box{
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: relative;

}

.phone{
    max-width:"100%";
    margin-top: -8%;
    overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

.about{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 8%;
    column-gap: 5%;
}

.classroom{
    border: 0px solid #fff;
    border-radius: 40px;
    box-shadow: 4px 4px 20px rgba(195, 195, 195);
    margin: -5% 0 0 5%
}


.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    justify-content: center;
    margin: 15px 0 15px 0;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;    
    padding: 14px 16px;
    transition: 0.5s;
    font-size: 35px;
    border-style: solid;
    border-width: 0 0 5px 0 ;
    border-color: transparent transparent gray transparent;
    margin-left: 10%;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.tab button:hover {
    background-color: #0145e4;
    color: white;
    border-bottom-width: medium;
    border-bottom-color: #0145e4;
    box-shadow: 1px 1px 25px rgba(185, 185, 185);
}

.tab button.active {
    background-color: white;
    border-bottom-width: 5px;
    border-bottom-color: #0145e4;
    color: #0145e4;
    font-size: 40px;
    box-shadow: 1px 1px 10px rgba(185, 185, 185);
    
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-right: 40%;
    font-size: 30px;
}

.bullet{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.point{
    text-align: left;
    font-size: 20px;
    color: #828282;
}
.tab-align{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    margin-right: -50%;
    column-gap: 3%;
}

.sign_up{
    text-align: center;
}

.sign_up_side{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin: 15% 10% 0 10%;
}

.break{
    text-align: center; 
    font-size: 25px;
    color: #0145e4;
}

.text_features{
    display: block;
    text-align: center;
    padding: 0;
    
}

.box{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 2% 22% 0 22%;
    /*margin: 5% 10%; */
}

.box_look{
    padding: 20px;
    border-radius: 15px;
    height: auto;
    width: 225px;
    background-color: white;
    text-align: left;
    box-shadow: 2px 2px 20px rgba(195, 195, 195);
}

.partners{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin: 7% 15% 0 15%;
}
.partners2{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.revie {
    box-sizing:border-box;
    width: 100%;
    height: 00px;  
}
/* Slideshow container */
.slideshow-container {
    width: 1200px;
    height: 600px;
    position: relative;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(185, 185, 185);
    overflow: hidden;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(1,69,228,0.7);
    color: white;
}

/* Caption text */
.text {
    color: black;
    font-size: 23px;
    padding: 0 12px;
    position: absolute;
    bottom: 18%;
    width: 95%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    column-gap: 10%;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #0145e4;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    from {
        margin-left: 60%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.demo{
    text-align: center;
    color: white;
    background-image: url(images/banner.png);
    background-size: cover;
    background-position: center;
    padding: 8% 5%;
}
.button_demo{
    width: 200px;
    height: 60px;
    font-size: 25px;
    background-color: #0145e4;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.contact-container {
    position: flex;
    padding: 40px;
    display: none;
    background-color: white;
    margin: 0 30%;
}
    
.contact-container.active {
    display: block;
}
    
.contact-form input, .contact-form textarea {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    
    
}
.contact-form{
    background-color: white;
}
.close-button {
    position: flex;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: white;
    border: 2px solid #0145e4;
    border-radius: 10px;
    color: #0145e4;
}
.submit{
    width: 200px;
    height: 60px;
    font-size: 22px;
    background-color: white;
    border: 2px solid #0145e4;
    border-radius: 10px;
    color: #0145e4;
    cursor: pointer;
}
.message{
    width: 100% ;
    height: 100px;
    color: black;
    border: 2px solid #0145e4;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

input{
    width: 400px;
    height: 50px;
    font-size: 22px;
    background-color: white;
    color: black;
    border: 3px solid #0145e4;
    border-radius: 10px;
}

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 22px;
    margin: 10px 0 5px -50px;
    box-shadow: 2px 2px 20px rgba(195, 195, 195)
}

.active, .collapsible:hover {
    background-color: #0145e4;
    color: white;
}

.collapsible:after {
    content: '\002B';
    color: #0145e4;
    font-weight: bold;
    float: right;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.active:after {
    content: "\2212";
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.content {
    width: 95.5%; 
    height: auto;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(195, 195, 195);
    margin: 10px 0 5px -50px;
}

.faq{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin: 10% 4% 10% 18%;
    column-gap: 23%;
}

.bottom_nav{
    background: #171717;
    color: white;
    border-radius: 0;
    padding: 60px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.link{
    color: white;
    text-decoration: none;
    
}

.copy{
    background: black;
    color: white;
    display: flex;
    column-gap: 60%;
    padding: 40px 50px;
    border-top: 1px solid #d4d4d4
}
